@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Yellowtail&display=swap");
/* @font-face {
  font-family: 'Karmatic';
  src: url("ka1.ttf");
} */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: block;
  font-family: "Press Start 2P", cursive;
  color: #f0693a;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
li {
  /* font-family: 'Mate SC', Arial, sans-serif; */
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: #a101af;
}
li span {
  padding-bottom: 1.2rem;
  display: block;
  font-size: 3rem;
  color: #f0693a;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  /* margin-top: 8vh; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

header h1,
header p,
header img {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: rgba(224, 1, 231, 0.4);
  background-image: linear-gradient(#181414 20%, #e001e7, #520069);
}

header img {
  height: 10rem;
  margin-bottom: 2rem;
}
header h1 {
  margin-top: 1rem;
  font-family: "Press Start 2P", "Karmatic", "Montserrat", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 100;
  background-image: linear-gradient(#f3f3f3 33%, #e001e7, #520069);
}

header p {
  animation: minecraft 3s infinite;
  font-family: "Press Start 2P", "Karmatic", "Yellowtail", serif;
  font-size: 2rem;
  line-height: 0.9;
  white-space: nowrap;
  background-image: linear-gradient(#f3f3f3 20%, cyan);
  width: max-content;
}

/* new animation */
@keyframes minecraft {
  0% {
    transform: translateY(-75%) translateX(240%) rotate(340deg) scale(0.8);
  }
  50% {
    transform: translateY(-75%) translateX(240%) rotate(340deg) scale(1);
  }
  100% {
    transform: translateY(-75%) translateX(240%) rotate(340deg) scale(0.8);
  }
}

/* header::after {
  content: "Happy hacking";
  font-family: courier, monospace;
  font-size: 2rem;
  font-weight: 400;
  -webkit-animation: opacity 2s infinite;
  animation: opacity 3s infinite;
} */

body {
  background-color: #000;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  perspective: 4rem;
}

.skybars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: rotateX(-40deg) translateZ(0);
}

.sky {
  height: 40vh;
  background-image: linear-gradient(
    black,
    rgba(4, 150, 255, 0.5) 70%,
    rgba(75, 179, 253, 0.5) 90%,
    rgba(224, 1, 231, 0.5)
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.sky-animate-thunder {
  -webkit-animation: thunder 0.4s;
  animation: thunder 0.4s;
}

.sun {
  z-index: 2;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
  transform: translateY(-100px) translateX(500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* reset all hr */
.skybar-hr,
.sunbar-hr,
.vertical-hr,
.horizontal-hr,
.mountain {
  border: none;
  margin: 0;
}

.skybar-hr {
  height: 0.1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.02);
}

.sunbar-hr {
  height: 0.25rem;
  background-color: #dc992e;
  background-image: linear-gradient(to right, #dc992e, #e5b467, #f2542d);
}

.mountain-wrapper {
  position: absolute;
  left: 0;
  bottom: -1rem;
  right: 0;
  text-align: center;
  height: auto;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.2);
}

/* 5 <hr> mountains per row, 4 rows */
.mountain-row {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
}

.mountain-row:nth-child(1) {
  justify-content: center;
}

.mountain-row:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: center;
  transform: translateY(0.5rem);
}

.mountain-row:nth-child(3) {
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5rem;
  z-index: -1;
}

.mountain-row:nth-child(4) {
  flex-direction: row;
  justify-content: center;
  padding: 0 3rem;
  z-index: -1;
}

/* all hr mountains */
.mountain {
  border: 2rem solid transparent;
  border-bottom: 2rem solid #0f070f;
  display: inline-block;
}

/* 1st row, 2nd mountain */
.mountain-row:nth-child(1) .mountain:nth-child(2) {
  border-width: 3rem;
}

/* 2nd row, all */
.mountain-row:nth-child(2) .mountain {
  border-bottom: 2rem solid #0b0114;
}

/* 2nd row, 2nd mountain */
.mountain-row:nth-child(2) .mountain:nth-child(2) {
  border-width: 4rem;
}

/* 2nd row, 3rd mountain */
.mountain-row:nth-child(2) .mountain:nth-child(3) {
  border-width: 5rem;
}

/* 3nd row, 2nd muntain */
.mountain-row:nth-child(2) .mountain:nth-child(2) {
  border-width: 3.5rem;
}

/* all mountains, 3nd row */
.mountain-row:nth-child(3) .mountain {
  border-bottom: 3.3rem solid rgb(32, 7, 32);
  border-width: 3.3rem;
  transform: translateX(-1.72rem);
}

/* 3rd row, 1st mountain */
.mountain-row:nth-child(3) .mountain:nth-child(1) {
  border-width: 2.5rem;
  transform: translateX(1.72rem);
}

/* 3rd row, 3rd */
.mountain-row:nth-child(3) .mountain:nth-child(3) {
  border-width: 4rem;
  transform: translateX(-6rem);
}

/* 3rd row, 4th */
.mountain-row:nth-child(3) .mountain:nth-child(4) {
  border-width: 5.5rem;
  transform: translateX(0);
}

/* 4th row, all */
.mountain-row:nth-child(4) .mountain {
  border-width: 6rem;
  transform: translateY(3.5rem);
}

.ground {
  z-index: 5;
  background-image: linear-gradient(black, rgba(247, 0, 255, 0.2) 50%);
  min-height: 60vh;
  flex-grow: grow;
  position: relative;
  transform-origin: 200% 0%;
  transform: rotateX(20deg) translateZ(0);
}

/* overlay */
.ground::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
      circle at top,
      rgb(0, 0, 0, 1),
      transparent 30%
    ),
    linear-gradient(rgba(0, 0, 0, 0.7), transparent 50%);
}

.horizontal-hr {
  height: 1px;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(224, 1, 231, 0.4),
    transparent
  );
  margin: 1rem 0;
}

/* div container inside ground */
#vertical {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 100vw;
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.vertical-hr {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #eea94e,
    transparent
  );
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes thunder {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

@media screen and (max-height: 359px) {
  header h1 {
    margin-top: 0;
  }
}

.wrapper {
  position: relative;
  display: inline-block;
  margin: 35px auto;
}
.retro-btn {
  text-transform: uppercase;
  background: 0 0;
}
.retro-btn.lg .btn {
  width: 294px;
  height: 54px;
  font-size: 17px;
  line-height: 50px;
}
.retro-btn.lg
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  padding-top: 0;
  letter-spacing: 0.15em;
}
.retro-btn.sm .btn {
  width: 165px;
  height: 37px;
  font-size: 10.5px;
  line-height: 32.5px;
}
.retro-btn.sm
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  padding-top: 0;
}
.retro-btn.primary .btn .btn-inner .content-wrapper:before {
  background-color: #051d41;
}
.retro-btn.primary .btn .btn-inner .content-wrapper .btn-content {
  background-image: linear-gradient(#f3f3f3 20%, cyan);
}
.retro-btn .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  width: 240px;
  height: 46px;
  font-size: 12px;
  line-height: 24px;
  background-color: transparent;
  text-decoration-color: initial;
  border-color: initial;
  -webkit-tap-highlight-color: transparent;
}
.retro-btn .btn,
.retro-btn .btn:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}
.retro-btn .btn:hover .btn-content-inner:before {
  background-color: rgba(13, 13, 13, 0.1);
}
.retro-btn .btn:before {
  content: " ";
  background-color: rgba(13, 13, 13, 0.3);
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  bottom: -1px;
  left: 1px;
  position: absolute;
  border-radius: 3px;
  z-index: 1;
  -webkit-transition: background 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: background 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
}
.retro-btn .btn.btn-left:before {
  -webkit-transform: skewY(1deg) translate3d(0, -0.5px, 0);
  transform: skewY(1deg) translate3d(0, -0.5px, 0);
}
.retro-btn .btn.btn-left .btn-content {
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg);
}
.retro-btn .btn.btn-right:before {
  -webkit-transform: skewY(-1deg) translate3d(0, -0.5px, 0);
  transform: skewY(-1deg) translate3d(0, -0.5px, 0);
}
.retro-btn .btn.btn-right .btn-content {
  -webkit-transform: skewY(1deg);
  transform: skewY(1deg);
}
.retro-btn .btn.btn-center:before {
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.retro-btn .btn.btn-center .btn-content {
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
}
.retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content {
  -webkit-transition: background 0.12s ease-out, color 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: background 0.12s ease-out, color 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    color 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
.retro-btn
  .btn.btn-active
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner {
  opacity: 0.1;
}
.retro-btn .btn.btn-active:before {
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.retro-btn .btn .btn-inner {
  display: block;
  height: 100%;
}
.retro-btn .btn .btn-inner .content-wrapper {
  position: relative;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 3px);
  margin-top: -3px;
}
.retro-btn .btn .btn-inner .content-wrapper:after,
.retro-btn .btn .btn-inner .content-wrapper:before,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before,
.retro-btn
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.retro-btn .btn .btn-inner .content-wrapper:before {
  background-image: initial;
  background-color: #004d40;
  content: " ";
  border-radius: 3px;
  top: auto;
  bottom: -3px;
  z-index: 1;
  -webkit-transition: background 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
  transition: background 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: transform 0.185s ease-out, background 0.185s ease-out;
  transition: transform 0.185s ease-out, background 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
}
.retro-btn .btn .btn-inner .content-wrapper:after {
  background-color: rgba(13, 13, 13, 0.15);
  content: " ";
  border-radius: 3px;
  z-index: 3;
  width: 0;
  top: 2px;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content {
  background-image: initial;
  background-color: #26a69a;
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  text-indent: 0;
  z-index: 3;
  overflow: hidden;
  padding: 0 16px;
  -webkit-transition: border 0.185s ease-out, background 0.185s ease-out,
    color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, background 0.185s ease-out,
    color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out,
    background 0.185s ease-out, color 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out,
    background 0.185s ease-out, color 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
  transition: opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
  transition: transform 0.185s ease-out 0.05s, opacity 0.1125s ease-out 0.05s;
  transition: transform 0.185s ease-out 0.05s, opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before {
  content: " ";
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  content: " ";
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner {
  display: block;
  -webkit-transition: opacity 75ms ease-out 0.1125s;
  transition: opacity 75ms ease-out 0.1125s;
}
.retro-btn
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  content: attr(label);
  padding-top: 9.5px;
  font-size: 0.8em;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 0.06em;
  -webkit-transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  opacity: 1;
  z-index: -1;
}
